version: '3.8'

services:
  postgres:
    container_name: toploaderdatabase
    image: postgres:14.5
    environment:
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    restart: always
    ports:
      - "5433:5432"
    networks:
      - tg_bot
    volumes:
      - ./pgdata:/var/lib/postgresql/data


  api:
    image: aiogram/telegram-bot-api:latest
    restart: always
    environment:
      TELEGRAM_API_ID: $TELEGRAM_API_ID
      TELEGRAM_API_HASH: $TELEGRAM_API_HASH
      TELEGRAM_LOCAL: $TELEGRAM_LOCAL
    ports:
      - "8081:8081"
    volumes:
      - /var/lib/telegram-bot-api:/var/lib/telegram-bot-api
    networks:
      - tg_bot

  bot:
    image: "${BOT_IMAGE_NAME:-tg_bot-image}"
    container_name: "${BOT_CONTAINER_NAME:-tg_bot-container}"
    stop_signal: SIGINT
    build:
      context: .
    working_dir: "/usr/src/app/${BOT_NAME:-tg_bot}"
    volumes:
    - .:/usr/src/app/${BOT_NAME:-tg_bot}
    restart: always
    depends_on:
      - postgres
      - api
    env_file:
      - ".env"
    networks:
    - tg_bot

networks:
  tg_bot:
    driver: bridge